/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:black;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Sections */
.section {
    padding: 50px 0;
    background-color:black;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:rgb(231, 105, 21);

}
h4 {
    color:greenyellow;
}

.service-item {
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 1.5rem;
    color:rgb(231, 105, 21);
    margin-bottom:5px ;
    
}
h3{
    color: greenyellow;
}

.service-item p {
    font-size: 1rem;
    color:white;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.portfolio-item img {
   
    border-radius: 9px;
    box-shadow: #555;
    background-size: 100% 100%;
    height: 200px;
    width: 250px;
    padding: 8px;
    box-shadow: 0 4px 6px rgb(231, 105, 21);
}
.images img{
    border-radius: 25px;
    transition:ease-in-out 3s;
   

}
.portfolio-item h4 {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  
   
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom:20px;
}

.service-item img {
   
    border-radius: 9px;
    box-shadow: #555;
    background-size: 100% 100%;
    height: 200px;
    width: 250px;
    padding: 8px;
    box-shadow: 0 4px 6px rgb(231, 105, 21);
  
    
}
.images img{
    border-radius: 25px;
    transition:ease-in-out 3s;}

.images img:hover{
    transform:scale(1.1);
}





   