*{
  text-decoration: none;
}
.navbar{
  background:black;
   font-family: calibri; 
   padding-right: 15px;
   padding-left: 0px;
   height: 100px;
}
.navdiv{
  display: flex;
   align-items: center;
   justify-content:space-between;
}
.logo a{
  font-size:28px;
   font-weight: 600;
    color:white;
}
li{
  list-style:none;
   display:inline-block;
}
li a{
  color: white;
   font-size: 18px;
    font-weight:bold; 
    margin-right: 20px;
}
button{
  background-color:rgb(231, 105, 21);
   margin-left: 80px; 
   border-radius: 50px;
    padding: 9px;
     width: 80px;
}
button a{
  color: white;
   font-weight: bold; 
   font-size: 15px;
}
.logo img{
  width: 220px;
  height:100px;
}
